## How to set up a Python runtime environment.
#
## Create the "vivarium" python virtual environment and select it for your project
## directory:
#   cd ~/code/vivarium-core
#   pyenv local <python_version>
#   pyenv virtualenv <desired_env_name>
#   pyenv local <desired_env_name>
#
## Install requirements
#   pip install -r requirements.txt
#

process-bigraph>=0.0.45
simularium-readdy-models